# OpenOCD configuration for Nucleo-G474RE (STM32G474RE)
#
# Board:      NUCLEO-G474RE
# MCU:        STM32G474RETx (Cortex-M4F, 170 MHz, 512 KB Flash, 128 KB SRAM)
# Debugger:   On-board ST-LINK/V3
#
# Usage:
#   openocd -f firmware/target/stm32/openocd.cfg
#
# Flash:
#   openocd -f firmware/target/stm32/openocd.cfg -c "program build/blinky.elf verify reset exit"

# Use the built-in Nucleo G4 board config (includes ST-LINK interface + STM32G4 target)
source [find board/st_nucleo_g4.cfg]

# --- Flash command ---------------------------------------------------------
proc flash_image {elf_path} {
    init
    reset halt
    flash write_image erase $elf_path
    verify_image $elf_path
    reset run
    shutdown
}

# --- Reset helpers ---------------------------------------------------------
proc do_reset {} {
    init
    reset run
    shutdown
}

proc do_halt {} {
    init
    reset halt
}
